/**
 * Employees styles
 */

@import './style/functions.styl';
@import './style/sizes.styl';
@import './style/typography.styl';
@import './style/colors.styl';
@import './style/base.styl';
@import './style/reset.styl';
