/**
 * Default sizes
 */

$gutter = 30px
$half-gutter = ($gutter / 2)
$container-width = (1100px + $gutter)

$form-item-height = relative-size(54)
$form-gap = 20px

// Media queries
$width-desktop = 768px

$mq-min-desktop = 'screen and (min-width: ' + $width-desktop + ')';
$mq-max-desktop = 'screen and (max-width: ' + ($width-desktop - 1) + ')';
