@import '../style/functions.styl';
@import '../style/colors.styl';

.main-header
    padding 40px 0
    background-color $primary

    > .title
    > .description
        padding 0
        color #fff
        text-align center

    > .title
        margin 0 0 10px 0
        font-size relative-size(30)
        text-transform uppercase

    > .description
        margin 0 0 20px 0
