<header class="main-header">
    <h1 class="title">Cadastre-se</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="container">
        <app-main-form></app-main-form>
    </div>
</header>

<section class="content-container">
    <div class="container">
        <div class="page-content">
            <h2 class="title">Dados</h2>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <div class="content">
                <app-data-table></app-data-table>
            </div>
        </div>

    </div>
</section>
