@import '../../style/colors.styl';
@import '../../style/functions.styl';

.data-table
.table-field
    border 1px solid $table-border

.data-table
    width 100%
    color $table-color
    font-size relative-size(14)
    border-collapse collapse

.table-field
    padding 8px 12px

    &.-center
        text-align center
